{% extends "base.html" %}

{% block content %}

<p>
    Inspired by <a href="http://pentametron.com/">Pentametron</a> and
    <a href="http://h6o6.com/2013/03/using-python-and-the-nltk-to-find-haikus-in-the-public-twitter-stream">H6O6</a>,
    I made a robot that writes poetry. In particular, it tries to write
    <a href="http://en.wikipedia.org/wiki/Limerick_(poetry)">limericks</a> and
    sometimes <a href="{{ url_for('poem', poem_id=554) }}">it succeeds</a>.
</p>

<p>
    It works by listening to the
    <a href="https://dev.twitter.com/docs/api/1.1/get/statuses/sample">public Twitter
    streaming API</a> and trying to count the syllables of every tweet
    using the Python <a href="http://nltk.org/">NLTK module</a>. If that works,
    the tweet is stored in a <a href="http://www.postgresql.org/">SQL database</a>
    and poems are generating by running a query on that database. If you don't
    know what these words mean, don't worry. If you do, check out
    <a href="https://github.com/dfm/twitterick">the code on GitHub</a>.
</p>

<p>
    Also, my name is <a href="http://dan.iel.fm">Dan F-M</a>.
</p>

<div id="cred">&nbsp;</div>

<div class="another">
    <a href="{{ url_for('new_poem') }}">See a limerick that has never been seen before.</a>
</div>

{% endblock %}
