{% extends "base.html" %}

{% block content %}

<div id="poem-number">
    This is limerick <a href="{{ url_for('poem', poem_id=poem_id) }}">#{{ poem_id }}</a>:
</div>

{% for l in lines %}
<div class="line">
    <a class="tweet" href="https://twitter.com/{{ l.screen_name }}/statuses/{{ l.id }}" target="_blank">{{ l.body|safe }}</a>
</div>
{% endfor %}

<div id="cred">
    A limerick by
    {% for l in lines[:-1] %}
        <a class="screen-name" href="https://twitter.com/{{ l.screen_name }}" target="_blank">@{{ l.screen_name }}</a>,
    {% endfor %}
    and
    <a class="screen-name" href="https://twitter.com/{{ lines[-1].screen_name }}" target="_blank">@{{ lines[-1].screen_name }}</a>.
    Lovingly edited by <a href="http://dan.iel.fm">Dan</a>'s robot.
    Inspired by <a href="http://pentametron.com/">Pentametron</a> and
    <a href="http://h6o6.com/2013/03/using-python-and-the-nltk-to-find-haikus-in-the-public-twitter-stream">H6O6</a>.
</div>

<div class="another">
    <a href="{{ url_for('new_poem') }}">Generate a new unique poem.</a><br>
    <a href="{{ url_for('about') }}">What's going on here?</a>
</div>

<div id="fb-root"></div>
<script>
(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
</script>

<div id="social">
    <div class="social-button">
        <div class="fb-like" data-href="http://twitterick.com/{{ poem_id }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>
    </div>
    <div class="social-button">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://twitterick.com/{{ poem_id }}" data-text="I just found an awesome #twitterick">Tweet</a>
    </div>
    <div class="social-button">
        <div class="g-plusone" data-size="medium"></div>
    </div>
</div>

<script type="text/javascript">(function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/plusone.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{% endblock %}
