{% extends "base.html" %}

{% block content %}

{% for l in lines %}
<div class="line">
    <a class="tweet" href="https://twitter.com/{{ l.screen_name }}/statuses/{{ l.id }}" target="_blank">{{ l.body|safe }}</a>
</div>
{% endfor %}

<div id="cred">
    A limerick by
    {% for l in lines[:-1] %}
        <a class="screen-name" href="https://twitter.com/{{ l.screen_name }}" target="_blank">@{{ l.screen_name }}</a>,
    {% endfor %}
    and
    <a class="screen-name" href="https://twitter.com/{{ lines[-1].screen_name }}" target="_blank">@{{ lines[-1].screen_name }}</a>.
    Lovingly edited by <a href="http://dan.iel.fm">Dan</a>'s robot.
    Inspired by <a href="http://pentametron.com/">Pentametron</a>.
</div>

<div class="another">
    <a href="{{ url_for('new_poem') }}">Get another one.</a>
</div>

{% endblock %}
