html, body {
    height: 100%;
    font-family: "Helvetica Neue", "Helvetica", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.8);
}

a {
    text-decoration: none;
    color: inherit;
    background: transparent;
    background-size: 2px 2px;
    background-position: 0 18px;
    background-repeat: repeat-x;
}

a:hover {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
}

.emoji {
    width: 16px;
    height: 16px;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 12px;
    padding: 0 15px 12px 0;
    color: rgba(0, 0, 0, 0.4);
}

.footer a {
    background-position: 0 12px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
}

.container {
    width: 600px;
    margin: 20px auto 100px;
}

.topbar {
    width: 600px;
    margin: 20px auto;
}

.topbar-inner {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.3);
    margin-bottom: 50px;
    color: rgba(0, 0, 0, 0.3);
}

.topbar span {
    float: right;
    font-size: 16px;
}

.topbar span a {
    background-position: 0 15px;
    color: rgba(0, 0, 0, 0.8);
}

.topbar strong {
    color: rgba(0, 0, 0, 0.8);
}

.topbar strong a {
    background: none;
}

.description {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.3);
    margin-bottom: 50px;
    font-style: italic;
    line-height: 1.5;
}

.description a {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
}

.new-button {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-style: italic;
    padding: 20px 0 30px;
}

.new-button a {
    background: none;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 8px 12px;
    border-radius: 3px;
}

.poem {
    margin: 30px 0 75px;
}

.poem-meta {
    position: absolute;
    margin-left: -100px;
    width: 80px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

.poem-id {
    font-size: 36px;
    font-weight: 200;
}

.poem-meta a {
    background: none;
}

.poem-meta small {
    font-size: 18px;
    padding-right: 5px;
}

p {
    margin: 5px 0 10px;
}

.credits {
    font-size: 13px;
    color: rgba(100, 100, 100, 0.8);
    margin: 20px 0;
    padding: 10px 0 0;
    border-top: 1px solid rgba(200, 200, 200, 0.3);
}

.credits a {
    background-position: 0 12px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%, rgba(0,0,0,0.4) 75%);
}

.pagination {
    padding-top: 20px;
    border-top: 1px solid rgba(200, 200, 200, 0.3);
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.pagination a {
    color: rgba(0, 0, 0, 0.8);
}
