<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% if "title" in globals() %}{{ title }}{% else %}Twitterick{% end %}</title>

<link rel="stylesheet" href="{{ static_url('normalize.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ static_url('twitterick.css') }}" type="text/css" />

</head>
<body>

<div class="topbar">
    <div class="topbar-inner">
        <strong><a href="/">Twitterick</a></strong>
        <span>
            <a href="/recent">recent</a>
            // <a href="/popular">popular</a>
        </span>
    </div>
</div>


<div class="container">
    {% block content %}{% end %}
</div>

<div class="new-button">
    <a href="/new">Generate a new unique poem.</a>
</div>

<div class="footer">
    Made by <a href="http://dfm.io">Dan F-M</a> in Brooklyn.
</div>

<script src="{{ static_url('jquery-1.11.1.min.js') }}"></script>
<script src="{{ static_url('twitterick.js') }}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-54485467-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
</script>

</body>
